CryptoNFTFlow.json
{"flowContents":{"identifier":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"CryptoNFT","comments":"","position":{"x":2792.0,"y":72.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d3db0652-2a68-36f4-bf0e-c6f584933da2","name":"SplitRecord","comments":"","position":{"x":264.0,"y":632.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitRecord","properties":{"Record Writer":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","Record Reader":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","name":"while: true","comments":"","position":{"x":240.0,"y":-184.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","continue":"${i:lt(50000)}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"continue":{"name":"continue","displayName":"continue","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"60 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"fa9b5256-6b76-3f89-9538-84c8023b44a3","name":"Build New JSON Record","comments":"","position":{"x":264.0,"y":1032.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.AttributesToJSON","properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"animation_original_url,animation_url,asset_contract_address,asset_contract_asset_contract_type,asset_contract_created_date,asset_contract_default_to_fiat,asset_contract_description,asset_contract_external_link,asset_contract_image_url,asset_contract_name,asset_contract_nft_version,asset_contract_owner,asset_contract_payout_address,asset_contract_schema_name,asset_contract_symbol,asset_contract_total_supply,background_color,date,description,external_link,external_url,featured,featured_image_url,id,image_original_url,image_preview_url,image_thumbnail_url,image_url,name,num_sales,short_description,slug,token_id,token_metadata,twitter_username","Include Core Attributes":"false"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"c30d2296-4321-3e62-99e3-e081a040aca3","name":"i++","comments":"","position":{"x":-384.0,"y":-312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"${i:plus(1)}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"81c97f4f-eebb-324e-824d-9807891c01a5","name":"Store NFT Bundles","comments":"","position":{"x":1504.0,"y":1224.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.PutFile","properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"/home/nvidia/nvme/nft","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"da2bb8c7-bb79-3099-96d9-fd5e6aa58c83","name":"SplitJson","comments":"","position":{"x":264.0,"y":440.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$.bundles.*.assets"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"c61f415f-5fe4-3237-bbb1-dbd74196e417","name":"Init","comments":"","position":{"x":224.0,"y":-608.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"30000 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"f18d1006-4132-3f6c-8c68-ce8a4d60ce73","name":"Pulsar Local","comments":"","position":{"x":856.0,"y":1224.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"53f1d1df-3205-364a-b67e-4f9642fb19a9","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/nft","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"fbe74b04-f11d-3b30-adfa-4e474300a942","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"007f35a7-f09c-353e-bf78-1be22668a76f","name":"Set Schema Name","comments":"","position":{"x":264.0,"y":248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"schema":"nft","schemaname":"nft","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"nft","Stateful Variables Initial Value":null},"propertyDescriptors":{"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"schemaname":{"name":"schemaname","displayName":"schemaname","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"86fe4f5c-75ae-3827-b3bf-64768b831b4e","name":"Build Flat Record NFT","comments":"","position":{"x":264.0,"y":832.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-attribute","short_description":"$.collection.short_description","featured":"$.collection.featured","image_thumbnail_url":"$.image_thumbnail_url","asset_contract_created_date":"$.asset_contract.created_date","asset_contract_owner":"$.asset_contract.owner","image_preview_url":"$.image_preview_url","asset_contract_symbol":"$.asset_contract.symbol","twitter_username":"$.collection.twitter_username","description":"$.description","Null Value Representation":"empty string","asset_contract_address":"$.asset_contract.address","Path Not Found Behavior":"ignore","external_url":"$.collection.external_url","token_id":"$.token_id","asset_contract_name":"$.asset_contract.name","asset_contract_nft_version":"$.asset_contract.nft_version","asset_contract_external_link":"$.asset_contract.external_link","asset_contract_description":"$.asset_contract.description","id":"$.id","featured_image_url":"$.collection.featured_image_url","slug":"$.collection.slug","token_metadata":"$.token_metadata","asset_contract_schema_name":"$.asset_contract.schema_name","animation_url":"$.animation_url","num_sales":"$.num_sales","image_url":"$.collection.image_url","Return Type":"json","asset_contract_default_to_fiat":"$.asset_contract.default_to_fiat","image_original_url":"$.image_original_url","external_link":"$.collection.external_link","asset_contract_payout_address":"$.asset_contract.payout_address","animation_original_url":"$.animation_original_url","background_color":"$.background_color","asset_contract_asset_contract_type":"$.asset_contract.asset_contract_type","name":"$.name","asset_contract_image_url":"$.asset_contract.image_url","asset_contract_total_supply":"$.asset_contract.total_supply"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"short_description":{"name":"short_description","displayName":"short_description","identifiesControllerService":false,"sensitive":false},"featured":{"name":"featured","displayName":"featured","identifiesControllerService":false,"sensitive":false},"image_thumbnail_url":{"name":"image_thumbnail_url","displayName":"image_thumbnail_url","identifiesControllerService":false,"sensitive":false},"asset_contract_created_date":{"name":"asset_contract_created_date","displayName":"asset_contract_created_date","identifiesControllerService":false,"sensitive":false},"asset_contract_owner":{"name":"asset_contract_owner","displayName":"asset_contract_owner","identifiesControllerService":false,"sensitive":false},"image_preview_url":{"name":"image_preview_url","displayName":"image_preview_url","identifiesControllerService":false,"sensitive":false},"asset_contract_symbol":{"name":"asset_contract_symbol","displayName":"asset_contract_symbol","identifiesControllerService":false,"sensitive":false},"twitter_username":{"name":"twitter_username","displayName":"twitter_username","identifiesControllerService":false,"sensitive":false},"description":{"name":"description","displayName":"description","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"asset_contract_address":{"name":"asset_contract_address","displayName":"asset_contract_address","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false},"external_url":{"name":"external_url","displayName":"external_url","identifiesControllerService":false,"sensitive":false},"token_id":{"name":"token_id","displayName":"token_id","identifiesControllerService":false,"sensitive":false},"asset_contract_name":{"name":"asset_contract_name","displayName":"asset_contract_name","identifiesControllerService":false,"sensitive":false},"asset_contract_nft_version":{"name":"asset_contract_nft_version","displayName":"asset_contract_nft_version","identifiesControllerService":false,"sensitive":false},"asset_contract_external_link":{"name":"asset_contract_external_link","displayName":"asset_contract_external_link","identifiesControllerService":false,"sensitive":false},"asset_contract_description":{"name":"asset_contract_description","displayName":"asset_contract_description","identifiesControllerService":false,"sensitive":false},"id":{"name":"id","displayName":"id","identifiesControllerService":false,"sensitive":false},"featured_image_url":{"name":"featured_image_url","displayName":"featured_image_url","identifiesControllerService":false,"sensitive":false},"slug":{"name":"slug","displayName":"slug","identifiesControllerService":false,"sensitive":false},"token_metadata":{"name":"token_metadata","displayName":"token_metadata","identifiesControllerService":false,"sensitive":false},"asset_contract_schema_name":{"name":"asset_contract_schema_name","displayName":"asset_contract_schema_name","identifiesControllerService":false,"sensitive":false},"animation_url":{"name":"animation_url","displayName":"animation_url","identifiesControllerService":false,"sensitive":false},"num_sales":{"name":"num_sales","displayName":"num_sales","identifiesControllerService":false,"sensitive":false},"image_url":{"name":"image_url","displayName":"image_url","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"asset_contract_default_to_fiat":{"name":"asset_contract_default_to_fiat","displayName":"asset_contract_default_to_fiat","identifiesControllerService":false,"sensitive":false},"image_original_url":{"name":"image_original_url","displayName":"image_original_url","identifiesControllerService":false,"sensitive":false},"external_link":{"name":"external_link","displayName":"external_link","identifiesControllerService":false,"sensitive":false},"asset_contract_payout_address":{"name":"asset_contract_payout_address","displayName":"asset_contract_payout_address","identifiesControllerService":false,"sensitive":false},"animation_original_url":{"name":"animation_original_url","displayName":"animation_original_url","identifiesControllerService":false,"sensitive":false},"background_color":{"name":"background_color","displayName":"background_color","identifiesControllerService":false,"sensitive":false},"asset_contract_asset_contract_type":{"name":"asset_contract_asset_contract_type","displayName":"asset_contract_asset_contract_type","identifiesControllerService":false,"sensitive":false},"name":{"name":"name","displayName":"name","identifiesControllerService":false,"sensitive":false},"asset_contract_image_url":{"name":"asset_contract_image_url","displayName":"asset_contract_image_url","identifiesControllerService":false,"sensitive":false},"asset_contract_total_supply":{"name":"asset_contract_total_supply","displayName":"asset_contract_total_supply","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"0cd1a002-8a70-3f55-82c4-0e007b1bcbb5","name":"Collections List NFTs from OpenSea","comments":"","position":{"x":-776.0,"y":-8.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"500 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"50MB","disable-http2":"False","idle-timeout":"15 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.opensea.io/api/v1/collections?offset=0&limit=300","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"1500 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-pulsar-tspann"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"1800 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"0fd614f7-0b7a-3f28-825d-7623f9bd28ad","name":"PublishPulsarRecord","comments":"","position":{"x":256.0,"y":1232.0},"bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.pulsar.pubsub.PublishPulsarRecord","properties":{"MAX_ASYNC_REQUESTS":"50","BATCH_INTERVAL":"10 ms","COMPRESSION_TYPE":"NONE","PULSAR_CLIENT_SERVICE":"47500444-af12-3c36-9967-97ec4f695de1","MESSAGE_ROUTING_MODE":"RoundRobinPartition","RECORD_WRITER":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","BLOCK_IF_QUEUE_FULL":"false","BATCHING_MAX_MESSAGES":"1000","MAPPED_MESSAGE_PROPERTIES":"","PENDING_MAX_MESSAGES":"1000","TOPIC":"persistent://public/default/nft","MESSAGE_DEMARCATOR":null,"ASYNC_ENABLED":"false","RECORD_READER":"fbe74b04-f11d-3b30-adfa-4e474300a942","MESSAGE_KEY":"${uuid}","BATCHING_ENABLED":"false"},"propertyDescriptors":{"MAX_ASYNC_REQUESTS":{"name":"MAX_ASYNC_REQUESTS","displayName":"Maximum Async Requests","identifiesControllerService":false,"sensitive":false},"BATCH_INTERVAL":{"name":"BATCH_INTERVAL","displayName":"Batch Interval","identifiesControllerService":false,"sensitive":false},"COMPRESSION_TYPE":{"name":"COMPRESSION_TYPE","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"PULSAR_CLIENT_SERVICE":{"name":"PULSAR_CLIENT_SERVICE","displayName":"Pulsar Client Service","identifiesControllerService":true,"sensitive":false},"MESSAGE_ROUTING_MODE":{"name":"MESSAGE_ROUTING_MODE","displayName":"Message Routing Mode","identifiesControllerService":false,"sensitive":false},"RECORD_WRITER":{"name":"RECORD_WRITER","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"BLOCK_IF_QUEUE_FULL":{"name":"BLOCK_IF_QUEUE_FULL","displayName":"Block if Message Queue Full","identifiesControllerService":false,"sensitive":false},"BATCHING_MAX_MESSAGES":{"name":"BATCHING_MAX_MESSAGES","displayName":"Batching Max Messages","identifiesControllerService":false,"sensitive":false},"MAPPED_MESSAGE_PROPERTIES":{"name":"MAPPED_MESSAGE_PROPERTIES","displayName":"Mapped Message Properties","identifiesControllerService":false,"sensitive":false},"PENDING_MAX_MESSAGES":{"name":"PENDING_MAX_MESSAGES","displayName":"Max Pending Messages","identifiesControllerService":false,"sensitive":false},"TOPIC":{"name":"TOPIC","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"MESSAGE_DEMARCATOR":{"name":"MESSAGE_DEMARCATOR","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"ASYNC_ENABLED":{"name":"ASYNC_ENABLED","displayName":"Async Enabled","identifiesControllerService":false,"sensitive":false},"RECORD_READER":{"name":"RECORD_READER","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"MESSAGE_KEY":{"name":"MESSAGE_KEY","displayName":"Message Key","identifiesControllerService":false,"sensitive":false},"BATCHING_ENABLED":{"name":"BATCHING_ENABLED","displayName":"Batching Enabled","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"69b89601-694a-354b-ac9b-2645348a0a55","name":"Initialize Count","comments":"","position":{"x":224.0,"y":-392.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","i":"0","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"i":{"name":"i","displayName":"i","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"cf95b226-1da6-3a07-8ccb-a806eab93939","name":"List NFTs from OpenSea","comments":"","position":{"x":256.0,"y":56.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.InvokeHTTP","properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","Connection Timeout":"500 secs","send-message-body":"false","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"50MB","disable-http2":"False","idle-timeout":"15 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://api.opensea.io/api/v1/bundles?limit=50&offset=${i}","Content-Type":"${mime.type}","form-body-form-name":null,"max-idle-connections":"10","invokehttp-proxy-user":null,"Read Timeout":"1500 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-pulsar-tspann"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Attributes to Send","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Use HTTP ETag","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Basic Authentication Password","identifiesControllerService":false,"sensitive":true},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Send Message Body","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Set FlowFile Form Data File Name","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Always Output Response","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Maximum ETag Cache Size","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"Disable HTTP/2","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Put Response Body In Attribute","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Follow Redirects","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"Remote URL","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"FlowFile Form Data Name","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Ignore response's content","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Use Digest Authentication","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Add Response Headers to Request","identifiesControllerService":false,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Basic Authentication Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Include Date Header","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Penalize on \"No Retry\"","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Useragent","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"ed56e2f1-ff66-3c4e-842e-93fdc201b2f8","name":"RetryFlowFile","comments":"","position":{"x":256.0,"y":1448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.3"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"inputPorts":[],"outputPorts":[{"identifier":"a8d753fb-c239-34b5-a7eb-4036a1810605","name":"Errors Out","comments":"","position":{"x":896.0,"y":1488.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"connections":[{"identifier":"aab9668d-aa88-3d1c-aebe-539beec0f697","name":"","source":{"id":"cf95b226-1da6-3a07-8ccb-a806eab93939","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"List NFTs from OpenSea","comments":""},"destination":{"id":"007f35a7-f09c-353e-bf78-1be22668a76f","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Set Schema Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"bcc581e8-71dc-305a-97f2-85f2b6cf720e","name":"","source":{"id":"0fd614f7-0b7a-3f28-825d-7623f9bd28ad","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"PublishPulsarRecord","comments":""},"destination":{"id":"ed56e2f1-ff66-3c4e-842e-93fdc201b2f8","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"c7efc278-24a1-3870-822f-30d7731323a5","name":"","source":{"id":"ed56e2f1-ff66-3c4e-842e-93fdc201b2f8","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"RetryFlowFile","comments":""},"destination":{"id":"a8d753fb-c239-34b5-a7eb-4036a1810605","type":"OUTPUT_PORT","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Errors Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"52f0061b-6eb5-3161-a697-e0b7df7ec287","name":"","source":{"id":"fa9b5256-6b76-3f89-9538-84c8023b44a3","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build New JSON Record","comments":""},"destination":{"id":"372aa784-e376-348f-82bb-9277b77305c0","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"c861fe49-3130-3b61-a626-d8f468337b2e","name":"","source":{"id":"007f35a7-f09c-353e-bf78-1be22668a76f","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Set Schema Name","comments":""},"destination":{"id":"da2bb8c7-bb79-3099-96d9-fd5e6aa58c83","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"b579e92b-ea33-31f4-b17d-7dd9732ebc0b","name":"","source":{"id":"0fd614f7-0b7a-3f28-825d-7623f9bd28ad","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"PublishPulsarRecord","comments":""},"destination":{"id":"f18d1006-4132-3f6c-8c68-ce8a4d60ce73","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Pulsar Local","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"1e38ca7f-ee1f-3736-8ec0-eac1cddc20ab","name":"","source":{"id":"cf95b226-1da6-3a07-8ccb-a806eab93939","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"List NFTs from OpenSea","comments":""},"destination":{"id":"cf95b226-1da6-3a07-8ccb-a806eab93939","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"List NFTs from OpenSea","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":60.32000732421875,"y":132.15999603271484},{"x":57.0,"y":251.39998316764832}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"ac9da7fd-be28-34fe-a884-aaae9550ec46","name":"","source":{"id":"86fe4f5c-75ae-3827-b3bf-64768b831b4e","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build Flat Record NFT","comments":""},"destination":{"id":"fa9b5256-6b76-3f89-9538-84c8023b44a3","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build New JSON Record","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"6061bdce-1a1b-3ee0-a6e6-c269390e1864","name":"","source":{"id":"ed56e2f1-ff66-3c4e-842e-93fdc201b2f8","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"RetryFlowFile","comments":""},"destination":{"id":"0fd614f7-0b7a-3f28-825d-7623f9bd28ad","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"PublishPulsarRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":72.0,"y":1304.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"3e1162fd-7d80-36a4-98a3-bba8e0c1a5ca","name":"","source":{"id":"f18d1006-4132-3f6c-8c68-ce8a4d60ce73","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Pulsar Local","comments":""},"destination":{"id":"81c97f4f-eebb-324e-824d-9807891c01a5","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Store NFT Bundles","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"1e02a847-78a8-35be-8009-2163aef5f400","name":"","source":{"id":"da2bb8c7-bb79-3099-96d9-fd5e6aa58c83","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitJson","comments":""},"destination":{"id":"372aa784-e376-348f-82bb-9277b77305c0","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"0848c21a-dfea-31b7-9e05-98c299a2879f","name":"","source":{"id":"f18d1006-4132-3f6c-8c68-ce8a4d60ce73","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Pulsar Local","comments":""},"destination":{"id":"a8d753fb-c239-34b5-a7eb-4036a1810605","type":"OUTPUT_PORT","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Errors Out","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"ad6a0d4d-1a4a-37bb-aadf-a747b89b15c7","name":"","source":{"id":"86fe4f5c-75ae-3827-b3bf-64768b831b4e","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build Flat Record NFT","comments":""},"destination":{"id":"372aa784-e376-348f-82bb-9277b77305c0","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"4f5fd7f0-09c2-30d2-9521-8b0f509356f4","name":"","source":{"id":"cf95b226-1da6-3a07-8ccb-a806eab93939","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"List NFTs from OpenSea","comments":""},"destination":{"id":"8d3e9d4b-7a95-3eb6-a598-01b61f07437a","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"fd6b3f96-4a42-353d-9f9e-b81cdeb31e8f","name":"","source":{"id":"da2bb8c7-bb79-3099-96d9-fd5e6aa58c83","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitJson","comments":""},"destination":{"id":"d3db0652-2a68-36f4-bf0e-c6f584933da2","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"bdfe92d1-d024-39fa-9662-0ca879d05d0a","name":"","source":{"id":"d3db0652-2a68-36f4-bf0e-c6f584933da2","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitRecord","comments":""},"destination":{"id":"86fe4f5c-75ae-3827-b3bf-64768b831b4e","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build Flat Record NFT","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"f89b010b-6dfd-312c-9547-5e8eacbd5fef","name":"","source":{"id":"0cd1a002-8a70-3f55-82c4-0e007b1bcbb5","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Collections List NFTs from OpenSea","comments":""},"destination":{"id":"69c10406-d49f-397c-80b7-433ffb09487f","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"6b0adf88-f5bd-36e3-ac96-341b6c7a3a3f","name":"","source":{"id":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"while: true","comments":""},"destination":{"id":"c30d2296-4321-3e62-99e3-e081a040aca3","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"i++","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":29.766609177708688,"y":-127.61839229965472}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"1d8494f8-6b21-3865-98e6-25884cae0586","name":"","source":{"id":"d3db0652-2a68-36f4-bf0e-c6f584933da2","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"SplitRecord","comments":""},"destination":{"id":"8d3e9d4b-7a95-3eb6-a598-01b61f07437a","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"83fea64e-805c-323d-9263-da2e672b3544","name":"","source":{"id":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"while: true","comments":""},"destination":{"id":"cf95b226-1da6-3a07-8ccb-a806eab93939","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"List NFTs from OpenSea","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["continue"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"113e24bd-efac-3020-854a-4f62fd3643c3","name":"","source":{"id":"0cd1a002-8a70-3f55-82c4-0e007b1bcbb5","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Collections List NFTs from OpenSea","comments":""},"destination":{"id":"0cd1a002-8a70-3f55-82c4-0e007b1bcbb5","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Collections List NFTs from OpenSea","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-307.0,"y":31.0},{"x":-307.0,"y":81.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"5393e5c3-9f6c-32a2-890f-830ee2b947fa","name":"","source":{"id":"fa9b5256-6b76-3f89-9538-84c8023b44a3","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Build New JSON Record","comments":""},"destination":{"id":"0fd614f7-0b7a-3f28-825d-7623f9bd28ad","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"PublishPulsarRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"0c8c4fd3-79f2-36c7-842c-c4047de85ae7","name":"","source":{"id":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"while: true","comments":""},"destination":{"id":"52bc7e4c-4d0d-34a1-b1ab-c73662ca2fa9","type":"FUNNEL","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"f35bf2ff-8a1d-3a1e-b0ec-74380f1265b6","name":"","source":{"id":"c30d2296-4321-3e62-99e3-e081a040aca3","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"i++","comments":""},"destination":{"id":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"while: true","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"86ad85cb-7dbf-3a86-905d-f986c1ae74c3","name":"","source":{"id":"69b89601-694a-354b-ac9b-2645348a0a55","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Initialize Count","comments":""},"destination":{"id":"4f3e7869-1755-3eaa-a2fc-1a1d47082710","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"while: true","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"53074810-6ab9-34ae-a443-977d77eb3ae4","name":"","source":{"id":"c61f415f-5fe4-3237-bbb1-dbd74196e417","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Init","comments":""},"destination":{"id":"69b89601-694a-354b-ac9b-2645348a0a55","type":"PROCESSOR","groupId":"68f69684-f0bf-3255-8ee5-051280ff9a83","name":"Initialize Count","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"labels":[{"identifier":"30aa8e52-53d5-313d-9032-1a8fae27b737","position":{"x":-128.0,"y":40.0},"label":"JSON Ingest to Pulsar","width":1912.0,"height":1560.0,"style":{"background-color":"#d6e4ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"funnels":[{"identifier":"52bc7e4c-4d0d-34a1-b1ab-c73662ca2fa9","position":{"x":880.0,"y":-232.0},"componentType":"FUNNEL","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"8d3e9d4b-7a95-3eb6-a598-01b61f07437a","position":{"x":944.0,"y":304.0},"componentType":"FUNNEL","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"69c10406-d49f-397c-80b7-433ffb09487f","position":{"x":-632.0,"y":264.0},"componentType":"FUNNEL","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"372aa784-e376-348f-82bb-9277b77305c0","position":{"x":-112.0,"y":736.0},"componentType":"FUNNEL","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"controllerServices":[{"identifier":"47500444-af12-3c36-9967-97ec4f695de1","name":"StreamNativeCloudPulsar","comments":"","type":"org.apache.nifi.pulsar.StandardPulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.PulsarClientService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.15.2"}}],"properties":{"KEEP_ALIVE_INTERVAL":"30 sec","CONCURRENT_LOOKUP_REQUESTS":"5000","USE_TCP_NO_DELAY":"false","STATS_INTERVAL":"60 sec","MAXIMUM_LOOKUP_REQUESTS":"50000","OPERATION_TIMEOUT":"30 sec","CONNECTIONS_PER_BROKER":"1","LISTENER_THREADS":"1","AUTHENTICATION_SERVICE":"e8db1922-9805-3c5b-bb89-76e154a94602","MAXIMUM_REJECTED_REQUESTS":"50","PULSAR_SERVICE_URL":"pulsar+ssl://sn-academy.sndevadvocate.snio.cloud:6651","IO_THREADS":"1","ALLOW_TLS_INSECURE_CONNECTION":"false","ENABLE_TLS_HOSTNAME_VERIFICATION":"false"},"propertyDescriptors":{"KEEP_ALIVE_INTERVAL":{"name":"KEEP_ALIVE_INTERVAL","displayName":"Keep Alive interval","identifiesControllerService":false,"sensitive":false},"CONCURRENT_LOOKUP_REQUESTS":{"name":"CONCURRENT_LOOKUP_REQUESTS","displayName":"Maximum concurrent lookup-requests","identifiesControllerService":false,"sensitive":false},"USE_TCP_NO_DELAY":{"name":"USE_TCP_NO_DELAY","displayName":"Use TCP no-delay flag","identifiesControllerService":false,"sensitive":false},"STATS_INTERVAL":{"name":"STATS_INTERVAL","displayName":"Stats interval","identifiesControllerService":false,"sensitive":false},"MAXIMUM_LOOKUP_REQUESTS":{"name":"MAXIMUM_LOOKUP_REQUESTS","displayName":"Maximum lookup requests","identifiesControllerService":false,"sensitive":false},"OPERATION_TIMEOUT":{"name":"OPERATION_TIMEOUT","displayName":"Operation Timeout","identifiesControllerService":false,"sensitive":false},"CONNECTIONS_PER_BROKER":{"name":"CONNECTIONS_PER_BROKER","displayName":"Maximum connects per Pulsar broker","identifiesControllerService":false,"sensitive":false},"LISTENER_THREADS":{"name":"LISTENER_THREADS","displayName":"Listener Threads","identifiesControllerService":false,"sensitive":false},"AUTHENTICATION_SERVICE":{"name":"AUTHENTICATION_SERVICE","displayName":"Pulsar Client Authentication Service","identifiesControllerService":true,"sensitive":false},"MAXIMUM_REJECTED_REQUESTS":{"name":"MAXIMUM_REJECTED_REQUESTS","displayName":"Maximum rejected requests per connection","identifiesControllerService":false,"sensitive":false},"PULSAR_SERVICE_URL":{"name":"PULSAR_SERVICE_URL","displayName":"Pulsar Service URL","identifiesControllerService":false,"sensitive":false},"IO_THREADS":{"name":"IO_THREADS","displayName":"I/O Threads","identifiesControllerService":false,"sensitive":false},"ALLOW_TLS_INSECURE_CONNECTION":{"name":"ALLOW_TLS_INSECURE_CONNECTION","displayName":"Allow TLS Insecure Connection","identifiesControllerService":false,"sensitive":false},"ENABLE_TLS_HOSTNAME_VERIFICATION":{"name":"ENABLE_TLS_HOSTNAME_VERIFICATION","displayName":"Enable TLS Hostname Verification","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"4032205d-68d7-3d66-bdca-815911e130b1","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"avro-reg-validated-field-names":"false","nft":"{\n  \"type\" : \"record\",\n  \"name\" : \"nft\",\n  \"fields\" : [ {\n    \"name\" : \"date\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"Thu, 24 Feb 2022 22:26:41 GMT\\\"'\"\n  }, {\n    \"name\" : \"short_description\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"\\\"'\"\n  }, {\n    \"name\" : \"featured\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"false\\\"'\"\n  }, {\n    \"name\" : \"image_thumbnail_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://lh3.googleusercontent.com/OQtkOarN4Xi7KwxQi3ELcg6Cj_umwPZ4WULfsGC602zhNMWOgpTzhVw4g1fwQ9BKXAD_gCmBzAiO8_7CEhZ5ep1E1acGLY9IdQyNRQ=s128\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_created_date\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"2022-02-17T15:48:44.822206\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_owner\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"50299352\\\"'\"\n  }, {\n    \"name\" : \"image_preview_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://lh3.googleusercontent.com/OQtkOarN4Xi7KwxQi3ELcg6Cj_umwPZ4WULfsGC602zhNMWOgpTzhVw4g1fwQ9BKXAD_gCmBzAiO8_7CEhZ5ep1E1acGLY9IdQyNRQ=s250\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_symbol\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"TD\\\"'\"\n  }, {\n    \"name\" : \"twitter_username\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"\\\"'\"\n  }, {\n    \"name\" : \"description\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"10,000 metaverse-ready Avatars, playable in The Sandbox. Each Doggy has been generated from over 150+ traits, curated by Snoop Dogg himself. Owning a Doggy provides instant access to a playable The Sandbox avatar, as well as access to future features inside the metaverse.\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_address\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"0xc7df86762ba83f2a6197e1ff9bb40ae0f696b9e6\\\"'\"\n  }, {\n    \"name\" : \"external_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://www.sandbox.game/en/snoopdogg/\\\"'\"\n  }, {\n    \"name\" : \"token_id\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"492\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_name\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"The Doggies\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_nft_version\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"3.0\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_description\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"\uD83D\uDC36 The Doggies - Snoop Dogg Avatars  \uD83D\uDC36\\\\r\\\\n\\\\r\\\\n10,000 metaverse-ready Avatars, playable in The Sandbox. Each Doggy has been generated from over 150+ traits, curated by Snoop Dogg himself. Owning a Doggy provides access to a playable The Sandbox avatar, as well as access to future features inside the metaverse.\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_external_link\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://www.sandbox.game/en/snoopdogg/\\\"'\"\n  }, {\n    \"name\" : \"id\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"307922619\\\"'\"\n  }, {\n    \"name\" : \"featured_image_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://lh3.googleusercontent.com/wvqBWnsjATeAxPjIGHGjgb5FxrRWPKapA-74rzjAtkIHuE32mM3l1HahOdB_Ue0qZuy2ur0wDoBFiq3GFx9T-ldNfQXIqQG88HUBCA=s300\\\"'\"\n  }, {\n    \"name\" : \"slug\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"snoop-dogg-doggies\\\"'\"\n  }, {\n    \"name\" : \"token_metadata\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://contracts.sandbox.game/unrevealed.json?tokenId=492\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_schema_name\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"ERC721\\\"'\"\n  }, {\n    \"name\" : \"animation_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://storage.opensea.io/files/30139d8b3e08fedd4ababa634b16f965.mp4\\\"'\"\n  }, {\n    \"name\" : \"num_sales\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"1\\\"'\"\n  }, {\n    \"name\" : \"image_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://lh3.googleusercontent.com/ufumJQN9NwT0U5jh_suJP5cLRIjyE38hirVdBChQLe-ghnt1RomIARfxSNmR6fdMQC0OIgjVQHhhduUfcxiRVrfHpihrXSW-SU5J=s120\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_default_to_fiat\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"false\\\"'\"\n  }, {\n    \"name\" : \"external_link\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"\\\"'\"\n  }, {\n    \"name\" : \"image_original_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://contracts.sandbox.game/preview.png\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_payout_address\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"0x4489590a116618b506f0efe885432f6a8ed998e9\\\"'\"\n  }, {\n    \"name\" : \"animation_original_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://contracts.sandbox.game/video.mp4\\\"'\"\n  }, {\n    \"name\" : \"background_color\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_asset_contract_type\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"non-fungible\\\"'\"\n  }, {\n    \"name\" : \"name\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"The Doggies\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_image_url\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"https://lh3.googleusercontent.com/ufumJQN9NwT0U5jh_suJP5cLRIjyE38hirVdBChQLe-ghnt1RomIARfxSNmR6fdMQC0OIgjVQHhhduUfcxiRVrfHpihrXSW-SU5J=s120\\\"'\"\n  }, {\n    \"name\" : \"asset_contract_total_supply\",\n    \"type\" : \"string\",\n    \"doc\" : \"Type inferred from '\\\"0\\\"'\"\n  } ]\n}"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false},"nft":{"name":"nft","displayName":"nft","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"e8db1922-9805-3c5b-bb89-76e154a94602","name":"SNCloud_PulsarClientOauthAuthenticationService","comments":"","type":"org.apache.nifi.pulsar.auth.PulsarClientOauthAuthenticationService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.pulsar.auth.PulsarClientAuthenticationService","bundle":{"group":"io.streamnative.connectors","artifact":"nifi-pulsar-client-service-nar","version":"1.15.2"}}],"properties":{"AUDIENCE":"urn:sn:pulsar:sndevadvocate:my-instance","ISSUER_URL":"https://auth.streamnative.cloud","Trusted Certificate Filename":null,"PRIVATE_KEY_FILE":"file:///home/nvidia/nvme/sndevadvocate-tspann.json"},"propertyDescriptors":{"AUDIENCE":{"name":"AUDIENCE","displayName":"Audience","identifiesControllerService":false,"sensitive":false},"ISSUER_URL":{"name":"ISSUER_URL","displayName":"Issuer URL","identifiesControllerService":false,"sensitive":false},"Trusted Certificate Filename":{"name":"Trusted Certificate Filename","displayName":"Trusted Certificate Filename","identifiesControllerService":false,"sensitive":false},"PRIVATE_KEY_FILE":{"name":"PRIVATE_KEY_FILE","displayName":"Private key file","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"59f51c9b-132b-34ff-8201-f2d9620d81e1","name":"PulsarJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"hwx-schema-ref-attributes","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"},{"identifier":"fbe74b04-f11d-3b30-adfa-4e474300a942","name":"SchemaJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.3"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.3"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"4032205d-68d7-3d66-bdca-815911e130b1","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"68f69684-f0bf-3255-8ee5-051280ff9a83"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":1000000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"53f1d1df-3205-364a-b67e-4f9642fb19a9":{"identifier":"53f1d1df-3205-364a-b67e-4f9642fb19a9","name":"Pulsar1_15_Pulsar1"},"2b1e4a8e-a12e-35ee-b446-8efb00f302bb":{"identifier":"2b1e4a8e-a12e-35ee-b446-8efb00f302bb","name":"Infer JsonTreeReader"},"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f":{"identifier":"5c0c576d-4749-3c15-831c-1c6c6e4e5c2f","name":"Standard Inherit JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}